[Unit]
Description=OnApp Configurator
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/python3 /root/scripts/OnApp-Template-Scripts/run.py"

[Install]
WantedBy=multi-user.target