[Unit]
Description=Run OnApp Configuration
After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target
After=rc-local.service

Before=getty.target
IgnoreOnIsolate=yes

# On systems without virtual consoles, don't start any getty. Note
# that serial gettys are covered by serial-getty@.service, not this
# unit.
ConditionPathExists=/dev/tty0

[Service]
ExecStart=/root/OnApp-Template-Scripts/run.py
Type=idle

[Install]
WantedBy=getty.target
DefaultInstance=tty1
