[Unit]
Description=OnApp Configurator
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/scripts/OnApp-Template-Scripts/run.py >> /root/scripts/OnApp-Template-Scripts/log.txt
StandardInput=tty-force

[Install]
WantedBy=multi-user.target